:root{
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color:hsl(238, 22%, 44%);

    --acent-color:hsl(224, 93%, 58%);
    --acent-color2:hsl(170, 45%, 43%);

    --neutral-color:hsl(240, 75%, 98%);
    --neutral-color2: hsl(0, 0%, 75%);

    --main-font:'Open Sans', sans-serif;
    --alt-font:'Raleway', sans-serif;
}

/* -----------------------
          BASE
-------------------------*/
body{
    font-family: var(--main-font);
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--alt-font);
    font-weight:300;
}

ul{
    padding: 0
}

li{
    list-style: none;
}

a{
    text-decoration:none;
}


/* -----------------------
          STYLES
-------------------------*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    /* color: hsl(228, 45%, 44%); */
    color:var(--acent-color2);
}

.divisor{
    width: 12rem;
    padding:0.5em 0;
    border-bottom: 1px solid;
    color: var(--acent-color2);
    margin-right: auto;
    margin-left: auto;
}


@media screen and (min-width: 768px){
    .divisor{
        margin-right:0 ;
        margin-left:0 ;
    }
}


/* -----------------------
          HEADER
-------------------------*/
.main-logo{
    width:100px;
}

.nav-link{
    margin-right: 1rem;
    color:var(--primary-color)!important;
    font-size: 700;
}



/* -----------------------
          HERO
-------------------------*/

.hero-text{
    color: var(--primary-color);
   
}

.main-form-input{
    border:1px solid var(--primary-color);
    border-radius:0;
}

.main-form-input::placeholder{
    color: var(--neutral-color2);
}

.btn{
    background-color:var(--acent-color);
}

/* -----------------------
          FEATURES
-------------------------*/
.features{
    background-color: var(--neutral-color);
}

.user-avatar-img{
    width:40px;
}

.user-avatar-text{
    font-size: 12px;
}

.card{
    max-width:22rem;    
}


/* -----------------------
          CTA
-------------------------*/
.cta{
    background-color:var(--secondary-color);
}

.cta-paragraph{
    color: var(--neutral-color2);
}


/* -----------------------
          FOOTER
-------------------------*/
.main-footer{
    background-color:var(--primary-color);
    color:var(--neutral-color2)
}

.nav-link-footer{
    color:var(--neutral-color2);
    /* margin-bottom: 10rem; */
}

.nav-item-footer{

    margin-bottom: 0.5rem;
}


.social-icon{
    margin-left: 0.5rem;
}